.swiper-container {
    overflow:hidden;

    .swiper-wrapper {
        height: 100%;
    }

    .swiper-slide {
        height: 100%;
    }

    .switch-center {
        background: $c-switch-default;
    }

    .switch-off {
        background: $c-switch-off;
    }

    .switch-on {
        background: $c-switch-on;
    }

    &:nth-of-type(2n) {
        .switch-center {
            background: $c-switch-default-alt;
        }

        .switch-off {
            background: $c-switch-off-alt;
        }

        .switch-on {
            background: $c-switch-on-alt;
        }
    }

    &:nth-of-type(3n) {
        .switch-center {
            background: $c-switch-default-alt-2;
        }

        .switch-off {
            background: $c-switch-off-alt-2;
        }

        .switch-on {
            background: $c-switch-on-alt-2;
        }
    }

    &:nth-of-type(4n) {
        .switch-center {
            background: $c-switch-default-alt-3;
        }

        .switch-off {
            background: $c-switch-off-alt-3;
        }

        .switch-on {
            background: $c-switch-on-alt-3;
        }
    }

    &:nth-of-type(5n) {
        .switch-center {
            background: $c-switch-default-alt-4;
        }

        .switch-off {
            background: $c-switch-off-alt-4;
        }

        .switch-on {
            background: $c-switch-on-alt-4;
        }
    }
}